.navbar-custom {
  background-color: #f5d1bb;
}

.navbar-custom .navbar-brand {
  color: #764415;
}

.navbar-custom .nav-link {
  color: #764415;
}
.navbar-custom .nav-link:hover {
  color: #ec5f55;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  background-image: none;
  border: none;
}
.navbar-toggler-icon::before {
  background-color: #764415;
}
