.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
}

.myName {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

li {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blueviolet;
}
