.navbar-container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5d1bb;
  box-sizing: border-box;
  position: relative;
}
.nav-links {
  display: flex;
  list-style-type: none;

}

.myName {
  color: #764415;
  font-size: 2.5rem;
  margin-right: auto;

}

li {
  margin: 0 10px;
  font-size: 1.5rem;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #764415;
  transition: all ease .4s;
}
a:hover {
  color: #EC5F55;
}

/*  Media Query  */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    padding: 10px;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  li {
    margin: 10px 0;
  }
}