* {
  margin: unset;
}

.grid-container {
  background: rgba(245, 209, 187, 0.22);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- SECTION 1 -- */
.section1 {
  grid-column: span 12;
  height: 60vh;
  background: #f5d1bb;
}
.left-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

/* --  INTRO TEXT  -- */
.intro-1 {
  width: 60%;
  height: 20%;

  color: #764415;
  font-size: 20px;
  font-weight: 500;
}
.intro-2 {
  width: 70%;

  color: #764415;
  font-size: 40px;
  font-weight: 500;
}
.get-in-touch-button {
  height: 48px;
  width: 186px;
  margin: 5%;
  border-radius: 20px;
  background: #ec5f55;
  box-shadow: 0 4px 4px 0 rgba(125, 69, 62, 0.35);

  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  border: none;
}
.image1 {
  height: 25em;
}

.section2 {
  height: 20vh;
}

.section3 {
  grid-column: span 12;
  height: 45vh;
  background: #c5d2e3;
}

.section4 {
  grid-column: span 12;
}
.offer-text {
  color: #6a5acd;
  font-size: 35px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}
.banner {
  grid-column: span 12;
  grid-row: span 2;
  height: 40vh;
  background: #f5d1bb;
}


.headline {
  color: #ec5f55;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.words-about-me {
  width: 321px;
  height: 96px;
  flex-shrink: 0;

  color: #622d26;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}
.about-me-button {
  width: 169px;
  height: 36px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 20px;
  background: #ec5f55;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}
